For table
body {
    font-family: sans-serif;
    font-size: 20px;
}

table {
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #2a2a2a;
}

.table-all tr:hover{
    background-color: chartreuse;
}
.table-digit tr:hover{
    background-color: blueviolet;
    color: aliceblue;
}

.link {
  color: teal;
}
.link:hover,
.link:focus {
  color: crimson;
}
